
 <ion-header>
   
      

            <ion-navbar>
             
              
           
            <ion-title *ngIf="!ifSearchbaropened">
      
              </ion-title>
              <div style="text-align: end">
              <ion-searchbar *ngIf="ifSearchbaropened" showCancelButton="true" search="onSearch($event)" (ionCancel)="ifSearchbaropened=false"></ion-searchbar>
              <ion-buttons>
                  <button ion-button icon-only *ngIf="!ifSearchbaropened" (click)="ifSearchbaropened=true">
                  <ion-icon name="search" ></ion-icon>
              
                  </button>
              </ion-buttons>
          
            </div>
     
   
        </ion-navbar>
  </ion-header>
<ion-content padding>

</ion-content>
